@{
    var actionAtual = ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Usuário :: @ViewBag.Subtitulo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                Controle de Usuários
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <div class="navbar-nav">
                    <a class="nav-link @(actionAtual == "Index" ? "active" : "")" asp-action="Index">Home</a>
                    <a class="nav-link @(actionAtual == "Usuarios" ? "active" : "")" asp-action="Usuarios">Usuários</a>
                    <a class="nav-link @(actionAtual == "Cadastrar" ? "active" : "")" asp-action="Cadastrar">Cadastro</a>

                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-2">
        @RenderBody()
    </div>

    @* O parâmetro false, indica que não é obrigatório existir esta section nas páginas que herdam _Layout. As views só definem se quiserem *@
    @RenderSection("Scripts", false)
</body>

</html>