@model IQueryable<Usuario>
@{
    ViewBag.Subtitulo = "Listagem";
}

<h1 class="text-primary">Usuários</h1>
<hr>
<a href="/Home/Cadastrar" class="btn btn-primary">Novo Usuário</a>
@* se renderizada após exclusão de usuário, será diferente de null *@
@* @if(ViewBag.Excluiu != null) *@
@if (TempData.ContainsKey("Excluiu"))
{
    var excluiu = (bool)TempData["Excluiu"];
    if (excluiu)
    {
        @* <h5>Usuário excluído com sucesso.</h5> *@
        @* ------- *@
@*         <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Usuário excluído com sucesso!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> *@

        @* name Contém o nome da view parcial e model contém o modelo passado pra view. Neste caso um objeto string *@
        <partial name="_MensagemInfo" model="@("Usuário excluído com sucesso.")"></partial>
    }
    else
    {
        @* <h5>Não foi possível excluir o usuário.</h5> *@
        @* -------- *@
      @*<div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Não foi possível excluir o usuário.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> *@
        @* ------------ *@
        @* name Contém o nome da view parcial e model contém o modelo passado pra view. Neste caso um objeto string *@
        <partial name="_MensagemErro" model="@("Não foi possível excluir o usuário.")"></partial>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>
                    <a asp-action="Cadastrar" asp-route-id="@u.IdUsuario" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@u.IdUsuario" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>
}
@section LogoPagina{
    <img src="/img/usuarios.png" height="24" class="d-inline-block align-text-bottom">
}